*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
#root{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 50%;
  padding: 1.5rem;
  background-color: tomato;
}
.container h1{
  text-align: center;
}

